 /* 
open type(otf)
true type(ttf)
embedded open type;
*/
@font-face {
  font-family: 'underDeterminationMono';
  src: url('./Fonts/DeterminationMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'underDeterminationSans';
  src: url('./Fonts/DeterminationSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'underFriendFore';
  src: url('./Fonts/MonsterFriendFore.otf')format('opentype');
  
}
@font-face {
  font-family: 'underFriendBack';
  src: url('./Fonts/MonsterFriendBack.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 0%;
  margin: 0%;
  color: white;
  
}

::-webkit-scrollbar {
  display: none;
}

/* Presentation */
.content-apres {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: -1;
  background-image: url('../img/737481.png');
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}

.mask {
  width: 100%;
  height: 100%;
  /* background-color: rgba(55, 0, 158, 0); */
  z-index: 1;
}

header {
  /* background-color: #044f8c5b; */
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  position: fixed;
  margin-right: 2%;
  background-color: #1201a5fd;
  width: 140px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding-left: 10px;
}

/* section presentation */
.apres {
  z-index: 2;
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apres img{
  width: 100px;
}
/* main */
main {
  display: block;
  text-align: center;
  background-color: black;
}
main h1 {
  font-family: 'underDeterminationSans';
  padding-top: 40px;
}
main h1 a{
  font-family: 'underFriendFore';
}
/* Section about */
.content-about {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
 
}
.deter{
  margin-top: 30px;
  border: 2px solid white;
  padding: 4px 4px 4px 4px ;

}
.deter h1{
  padding: 5px;
}
#star{
  width: 60px;
  margin-top: 5%;
}
#friskw{
  display: flex;
  width: 50%;
  margin-bottom: 20px;
}
#asriel{
  width: 100px;
  margin-top: 5%;
  display: flex;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  align-items: center;
  width: 70%;
  border: 2px solid white;
  padding: 4px 10px 4px 4px;

  
}
.about p{
  font-family: 'underDeterminationMono';
  font-size: 20px;
 
}

/* Section portfolio */
.content-portfolio {
  display: flex;
  width: 100%;
  height: 150vh;
  margin-left: 5%;
  margin-right: 20%;
  margin-top: 10%;
  flex-wrap: wrap;
}

.card {
  display: flex;
  background-color: aqua;
  border: 2px solid white;
  justify-content: center;

}

.card-1 {
  width: 50%;
  margin-right: 5px;
}

.card-2 {
  width: 40%;
}

.card-3 {
  width: 60%;
  margin-top: 5px;
}

.card-4 {
  width: 30%;
  margin-top: 5px;
  margin-left: 5px;
}

.card-5 {
  width: 30%;
  margin-top: 5px;
  margin-right: 5px;
}

.card-6 {
  width: 60%;
  margin-top: 5px;

}

footer {
  background-color: black;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
}
@media (max-width: 1115px)
{
  .about p{
    font-family: 'underDeterminationMono';
    font-size: 15px;
  }
}