@font-face {
  font-family: 'underDeterminationMono';
  src: url('./Fonts/DeterminationMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'underDeterminationSans';
  src: url('./Fonts/DeterminationSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'underFriendFore';
  src: url('./Fonts/MonsterFriendFore.otf')format('opentype');

}
@font-face {
  font-family: 'underFriendBack';
  src: url('./Fonts/MonsterFriendBack.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* Presentation */
.content-apres {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: -1;
  background-image: url('../img/background/737481.png');
  background-size: 1900px 1250px;

  background-repeat: round;
  flex-direction: column;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 0, 158, 0);
  z-index: 1;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  margin-right: 2%;
  background-color: transparent;
  width: 140px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding-left: 10px;
}

/* section presentation */
.apres {
  z-index: 2;
  display: flex;
  width: 100%;
  height: 80%;
  align-items: center;
  flex-direction: column;
  
}
.determinaçao{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
  padding: 10px 4px 10px 4px ; 
}
.determinaçao p{
  font-family: 'underDeterminationMono';
  padding: 2px;
}
.determinaçao img {
  width: 70px;
}
/* main */
main {
  display: block;
  text-align: center;
  background-color: black;
}
main h1 {
  font-family: 'underDeterminationSans';
  padding-top: 40px;
}
main h1 a{
  font-family: 'underFriendFore';
}
/* Section about */
.content-about {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;


}
.content-about p {
  font-family: 'underDeterminationSans';
}
.content-save{
  margin-top: 30px;
  border: 5px solid white;
  padding: 10px 4px 10px 4px ;

}
.content-save h1{
  padding: 5px;
}
.stats{
  display: flex;
  justify-content: space-around;
}
.stats p{
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'underDeterminationSans';
}
.locale p{
  display: flex;
  justify-content: start;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.save{
  display: flex;
  justify-content: space-around;
}
.save a{
  text-decoration: none;
}
.save img{
  width: 15px;
}
#frisketoriel{
  width: 70px;
  padding-right: 20px;
}
#star{
  width: 60px;
  margin-top: 5%;
}
#friskw{
  display: flex;
  width: 50%;
  margin-bottom: 20px;
}
#asriel{
  width: 100px;
  margin-top: 5%;
}
#asgore{
  width: 100px;
  margin-top: 5%;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  align-items: center;
  width: auto;
  border: 5px solid white;
  padding: 4px 10px 4px 4px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.about p{
  font-family: 'underDeterminationMono';
  font-size: 20px;

}
.about-P{
  display: flex;
  flex-direction: column;
  padding: 5px;
  
  
}
.about-P p{
  padding: 5px;
  text-align: justify;
}
.quest-asgore{
  display: flex;
  text-align: justify;
  align-items: center;
  width: auto;
  border: 5px solid white;
  padding: 3px;
  margin-bottom: 5%;
}
.quest-asgore p{
  padding: 3px;
}
.response{
  padding: 20px;
  height: 100vh;
}
.response p{
  width: auto;
  border: 5px solid white;
  padding: 10px;
}
/* Section portfolio */
.porti{
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 4%;
  
}
.porti h1{
  font-family: 'underFriendFore';
}
.porti img{
  width: 100px;
}
.content-portfolio {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  height: 200vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}
.portfolio-item{
  background-color: grey;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 30%;
  
}
.portfolio-item img{
  width: 70%;
}
.portfolio-item:hover{
}

/* .pi-1{
  margin-top: 3%;
  margin-right: 1%;
  width: 30%;
  height: 30%;
}
.pi-2{
  width: 69%;
  height: 33%;
}
.pi-3{
  margin-left: 10%;
  width: 40%;
  height: 28%;

 
}
.pi-4{
  margin-left: 5%;
  width: 40%;
  height: 28%;
}

  
.pi-5{  
  margin-left: 1%;
  margin-right: 1%;
  width: 60%;
  height: 32%;

  
}
.pi-6{ 
  margin-top: 3%;
  width: 32%;
  height: 28%;

} */

footer {
  background-color: black;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-evenly;
  padding: 30px;
}
@media (max-width: 1115px)
{
  .content-apres {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: -1;
    background-image: url('../img/background/737481.png');
    background-size: 1120px 650px;
    background-clip: border-box; 
    background-repeat: no-repeat ;
    background-position: center;
    flex-direction: column;
  }
  .about p{
    font-family: 'underDeterminationMono';
    font-size: 15px;
  }
} 