/* Area de inicia apresentação do portfolio */
.presentation-content {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url("/assets/img/background/737481.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.presentation-items{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.presentation-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid white;
  color: white;
  margin-top: 2%;
  padding: 10px;
}
.presentation-c-msg p{
  padding: 5px;
}
.presentation-msg img {
  width: 80px;
}

/* Segunda area  apresentação sobre */
.about-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.about-content h1 img {
  width: 100px;
  margin-right: 25px;
}

.about-content h1 {
  display: flex;
  align-items: flex-end;
}

.about-bg img {
  width: 800px;
}

.about-save {
  width: auto;
  display: flex;
  margin-top: 5%;
}

.about-card {
  width: 350px;

  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 5px solid white;
}

.about-status {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px 5px 0px;
}

.about-status p {
  margin-right: 10px;
  margin-left: 5px;
}

.about-locale {
  display: flex;
  justify-content: flex-start;
}

.about-locale p {
  padding: 5px 0px 5px 0px;
  margin-left: 25px;
}

.about-options {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px 5px 0px;
}

.about-options p {
  margin-right: 10px;
  margin-left: 5px;
}

.about-options img {
  width: 15px;
}

.about-options a {
  text-decoration: none;
  color: white;
}

.about-options a:hover {
  color: orange;
}